In [86]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
from sklearn.model_selection import train_test_split
%matplotlib inline 
sns.set(color_codes=True)

In [66]:
data = pd.read_csv('tedsa_puf_2018.csv')

In [67]:
data.head()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2018,20181823904,2,-9,3,1,2,-9,0,1,...,0,0,0,0,0,0,9,4,1,2
1,2018,20182001271,2,11260,3,1,7,-9,1,-9,...,0,0,0,0,0,0,9,4,0,2
2,2018,20181622919,2,-9,3,1,4,-9,1,1,...,0,0,0,0,0,0,9,4,0,3
3,2018,20181626210,2,11260,2,1,6,-9,0,6,...,0,0,0,0,0,1,9,4,0,2
4,2018,20182034958,2,-9,3,1,4,-9,0,1,...,0,0,0,0,0,0,9,4,0,3

In [68]:
data1 = pd.read_csv('tedsd_puf_2019.csv')

In [69]:
data.shape

(2060509, 62)

In [70]:
data.columns

Index(['ADMYR', 'CASEID', 'STFIPS', 'CBSA2010', 'EDUC', 'MARSTAT', 'SERVICES',
       'DETCRIM', 'NOPRIOR', 'PSOURCE', 'ARRESTS', 'EMPLOY', 'METHUSE',
       'PSYPROB', 'PREG', 'GENDER', 'VET', 'LIVARAG', 'DAYWAIT', 'DSMCRIT',
       'AGE', 'RACE', 'ETHNIC', 'DETNLF', 'PRIMINC', 'SUB1', 'SUB2', 'SUB3',
       'ROUTE1', 'ROUTE2', 'ROUTE3', 'FREQ1', 'FREQ2', 'FREQ3', 'FRSTUSE1',
       'FRSTUSE2', 'FRSTUSE3', 'HLTHINS', 'PRIMPAY', 'FREQ_ATND_SELF_HELP',
       'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG', 'METHFLG', 'OPSYNFLG',
       'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG', 'STIMFLG', 'BENZFLG',
       'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG', 'OTCFLG', 'OTHERFLG',
       'DIVISION', 'REGION', 'IDU', 'ALCDRUG'],
      dtype='object')

In [71]:
newData = data.loc[data['SUB1'].isin([5,6, 7])]
newData = data.loc[data['SUB2'].isin([5,6, 7])]
newData.head()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
7,2018,20181691844,6,41740,3,-9,7,-9,0,1,...,0,0,0,0,0,0,9,4,0,2
12,2018,20181871438,2,11260,3,3,7,-9,0,1,...,0,0,0,0,0,0,9,4,1,3
16,2018,20181814170,2,-9,2,1,7,-9,0,1,...,0,0,0,0,0,0,9,4,1,2
48,2018,20181983747,2,11260,4,1,6,-9,2,1,...,0,0,0,0,0,0,9,4,1,2
87,2018,20181868350,2,11260,-9,2,6,3,2,7,...,0,0,0,0,0,0,9,4,1,3

In [72]:
#not needed, ADMYR, STFIPS, CBSA2010, REGION, DIVISION, DAYWAIT, SUB 1-3, ROUTE 1-3, FREQ1-3, FRTUSE 1-3
nD = newData.drop(columns=['ADMYR', 'STFIPS', 'CBSA2010', 'REGION', 'DIVISION', 'DAYWAIT', 'SUB1','SUB2', 'SUB3', 'ROUTE2', 'ROUTE3', 'FREQ2', 'FREQ3'])
nD.head()

,CASEID,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,ARRESTS,EMPLOY,METHUSE,...,STIMFLG,BENZFLG,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,IDU,ALCDRUG
7,20181691844,3,-9,7,-9,0,1,0,4,1,...,0,0,0,0,0,0,0,0,0,2
12,20181871438,3,3,7,-9,0,1,1,3,2,...,0,0,0,0,0,0,0,0,1,3
16,20181814170,2,1,7,-9,0,1,0,2,2,...,0,0,0,0,0,0,0,0,1,2
48,20181983747,4,1,6,-9,2,1,0,4,1,...,0,0,0,0,0,0,0,0,1,2
87,20181868350,-9,2,6,3,2,7,0,3,2,...,0,0,0,0,0,0,0,0,1,3

In [73]:
nD.shape

(142437, 49)

In [74]:
nD.columns

Index(['CASEID', 'EDUC', 'MARSTAT', 'SERVICES', 'DETCRIM', 'NOPRIOR',
       'PSOURCE', 'ARRESTS', 'EMPLOY', 'METHUSE', 'PSYPROB', 'PREG', 'GENDER',
       'VET', 'LIVARAG', 'DSMCRIT', 'AGE', 'RACE', 'ETHNIC', 'DETNLF',
       'PRIMINC', 'ROUTE1', 'FREQ1', 'FRSTUSE1', 'FRSTUSE2', 'FRSTUSE3',
       'HLTHINS', 'PRIMPAY', 'FREQ_ATND_SELF_HELP', 'ALCFLG', 'COKEFLG',
       'MARFLG', 'HERFLG', 'METHFLG', 'OPSYNFLG', 'PCPFLG', 'HALLFLG',
       'MTHAMFLG', 'AMPHFLG', 'STIMFLG', 'BENZFLG', 'TRNQFLG', 'BARBFLG',
       'SEDHPFLG', 'INHFLG', 'OTCFLG', 'OTHERFLG', 'IDU', 'ALCDRUG'],
      dtype='object')

In [75]:
#NEED TO ONE HOT ENCODE ALL COLUMNS EXCEPT FLG 
def onehot(df, column):
    df = pd.concat([df,pd.get_dummies(df[column], prefix=column)],axis=1)
    df.drop([column],axis=1, inplace=True)
    return df

new = onehot(nD, 'EDUC')
new = onehot(new, 'MARSTAT')
new = onehot(new, 'SERVICES')
new = onehot(new, 'DETCRIM')
new = onehot(new, 'NOPRIOR')
new = onehot(new, 'PSOURCE')
new = onehot(new, 'ARRESTS')
new = onehot(new, 'EMPLOY')
new = onehot(new, 'METHUSE')
new = onehot(new, 'PSYPROB')
new = onehot(new, 'PREG')
new = onehot(new, 'GENDER')
new = onehot(new, 'VET')
new = onehot(new, 'LIVARAG')
new = onehot(new, 'DSMCRIT')
new = onehot(new, 'AGE')
new = onehot(new, 'RACE')
new = onehot(new, 'ETHNIC')
new = onehot(new, 'DETNLF')
new = onehot(new, 'PRIMINC')
new = onehot(new, 'HLTHINS')
new = onehot(new, 'PRIMPAY')
new = onehot(new, 'FREQ_ATND_SELF_HELP')
new = onehot(new, 'IDU')
new = onehot(new, 'ROUTE1')
new = onehot(new, 'FREQ1')

new.head()

,CASEID,FRSTUSE1,FRSTUSE2,FRSTUSE3,ALCFLG,COKEFLG,MARFLG,HERFLG,METHFLG,OPSYNFLG,...,ROUTE1_-9,ROUTE1_1,ROUTE1_2,ROUTE1_3,ROUTE1_4,ROUTE1_5,FREQ1_-9,FREQ1_1,FREQ1_2,FREQ1_3
7,20181691844,7,7,-9,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,1
12,20181871438,5,4,2,1,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,1
16,20181814170,5,5,-9,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
48,20181983747,7,6,-9,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
87,20181868350,6,6,1,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1

In [76]:
data1.columns

Index(['DISYR', 'CASEID', 'STFIPS', 'CBSA2010', 'EDUC', 'MARSTAT', 'SERVICES',
       'DETCRIM', 'LOS', 'PSOURCE', 'NOPRIOR', 'ARRESTS', 'EMPLOY', 'METHUSE',
       'PSYPROB', 'PREG', 'GENDER', 'VET', 'LIVARAG', 'DAYWAIT', 'SERVICES_D',
       'REASON', 'EMPLOY_D', 'LIVARAG_D', 'ARRESTS_D', 'DSMCRIT', 'AGE',
       'RACE', 'ETHNIC', 'DETNLF', 'DETNLF_D', 'PRIMINC', 'SUB1', 'SUB2',
       'SUB3', 'SUB1_D', 'SUB2_D', 'SUB3_D', 'ROUTE1', 'ROUTE2', 'ROUTE3',
       'FREQ1', 'FREQ2', 'FREQ3', 'FREQ1_D', 'FREQ2_D', 'FREQ3_D', 'FRSTUSE1',
       'FRSTUSE2', 'FRSTUSE3', 'HLTHINS', 'PRIMPAY', 'FREQ_ATND_SELF_HELP',
       'FREQ_ATND_SELF_HELP_D', 'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG',
       'METHFLG', 'OPSYNFLG', 'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG',
       'STIMFLG', 'BENZFLG', 'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG',
       'OTCFLG', 'OTHERFLG', 'DIVISION', 'REGION', 'IDU', 'ALCDRUG'],
      dtype='object')

In [77]:
data1.drop(data1.columns.difference(['CASEID','REASON']), 1, inplace=True)

/var/folders/41/nq0wbhf57nqgnnnt31cc9j4m0000gn/T/ipykernel_51318/2965572001.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data1.drop(data1.columns.difference(['CASEID','REASON']), 1, inplace=True)

In [78]:
data1.head()

        CASEID  REASON
0  20191553576       1
1  20191465214       3
2  20191443889       3
3  20191409377       1
4  20191479567       3

In [79]:
new['CASEID'] = new['CASEID'].astype("string")
data1['CASEID'] = data1['CASEID'].astype("string")

new['CASEID'] = new['CASEID'].str[4:]
data1['CASEID'] = data1['CASEID'].str[4:]

In [80]:
finalData = pd.merge(new, data1, on="CASEID")

In [81]:
finalData.head()

,CASEID,FRSTUSE1,FRSTUSE2,FRSTUSE3,ALCFLG,COKEFLG,MARFLG,HERFLG,METHFLG,OPSYNFLG,...,ROUTE1_1,ROUTE1_2,ROUTE1_3,ROUTE1_4,ROUTE1_5,FREQ1_-9,FREQ1_1,FREQ1_2,FREQ1_3,REASON
0,1691844,7,7,-9,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,1,1
1,1706506,4,4,3,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,4
2,1759402,3,3,3,1,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
3,1640334,1,5,4,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,1
4,1614136,4,-9,-9,1,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,4

In [82]:
finalData.shape

(126648, 186)

In [85]:
# Labels are the values we want to predict
labels = np.array(finalData['REASON'])
# Remove the labels from the features
# axis 1 refers to the columns
features= finalData.drop('REASON', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [87]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [88]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (94986, 185)
Training Labels Shape: (94986,)
Testing Features Shape: (31662, 185)
Testing Labels Shape: (31662,)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [ ]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')