In [15]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

In [16]:
data = pd.read_csv('tedsa_puf_2018.csv')

In [17]:
data.head()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2018,20181823904,2,-9,3,1,2,-9,0,1,...,0,0,0,0,0,0,9,4,1,2
1,2018,20182001271,2,11260,3,1,7,-9,1,-9,...,0,0,0,0,0,0,9,4,0,2
2,2018,20181622919,2,-9,3,1,4,-9,1,1,...,0,0,0,0,0,0,9,4,0,3
3,2018,20181626210,2,11260,2,1,6,-9,0,6,...,0,0,0,0,0,1,9,4,0,2
4,2018,20182034958,2,-9,3,1,4,-9,0,1,...,0,0,0,0,0,0,9,4,0,3

In [18]:
data1 = pd.read_csv('tedsd_puf_2019.csv')

In [19]:
data.shape

(2060509, 62)

In [7]:
data.columns

Index(['ADMYR', 'CASEID', 'STFIPS', 'CBSA2010', 'EDUC', 'MARSTAT', 'SERVICES',
       'DETCRIM', 'NOPRIOR', 'PSOURCE', 'ARRESTS', 'EMPLOY', 'METHUSE',
       'PSYPROB', 'PREG', 'GENDER', 'VET', 'LIVARAG', 'DAYWAIT', 'DSMCRIT',
       'AGE', 'RACE', 'ETHNIC', 'DETNLF', 'PRIMINC', 'SUB1', 'SUB2', 'SUB3',
       'ROUTE1', 'ROUTE2', 'ROUTE3', 'FREQ1', 'FREQ2', 'FREQ3', 'FRSTUSE1',
       'FRSTUSE2', 'FRSTUSE3', 'HLTHINS', 'PRIMPAY', 'FREQ_ATND_SELF_HELP',
       'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG', 'METHFLG', 'OPSYNFLG',
       'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG', 'STIMFLG', 'BENZFLG',
       'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG', 'OTCFLG', 'OTHERFLG',
       'DIVISION', 'REGION', 'IDU', 'ALCDRUG'],
      dtype='object')

In [8]:
#not needed, ADMYR, STFIPS, CBSA2010, REGION, DIVISION, DAYWAIT, SUB 1-3, ROUTE 1-3, FREQ1-3, FRTUSE 1-3

In [20]:
newData = data.loc[data['SUB1'].isin([5,6, 7])]
newData = data.loc[data['SUB2'].isin([5,6, 7])]
newData.head()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
7,2018,20181691844,6,41740,3,-9,7,-9,0,1,...,0,0,0,0,0,0,9,4,0,2
12,2018,20181871438,2,11260,3,3,7,-9,0,1,...,0,0,0,0,0,0,9,4,1,3
16,2018,20181814170,2,-9,2,1,7,-9,0,1,...,0,0,0,0,0,0,9,4,1,2
48,2018,20181983747,2,11260,4,1,6,-9,2,1,...,0,0,0,0,0,0,9,4,1,2
87,2018,20181868350,2,11260,-9,2,6,3,2,7,...,0,0,0,0,0,0,9,4,1,3

In [23]:
nD = newData.drop(columns=['ADMYR', 'STFIPS', 'CBSA2010', 'REGION', 'DIVISION', 'DAYWAIT', 'SUB1','SUB2', 'SUB3'])
nD.head()

,CASEID,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,ARRESTS,EMPLOY,METHUSE,...,STIMFLG,BENZFLG,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,IDU,ALCDRUG
7,20181691844,3,-9,7,-9,0,1,0,4,1,...,0,0,0,0,0,0,0,0,0,2
12,20181871438,3,3,7,-9,0,1,1,3,2,...,0,0,0,0,0,0,0,0,1,3
16,20181814170,2,1,7,-9,0,1,0,2,2,...,0,0,0,0,0,0,0,0,1,2
48,20181983747,4,1,6,-9,2,1,0,4,1,...,0,0,0,0,0,0,0,0,1,2
87,20181868350,-9,2,6,3,2,7,0,3,2,...,0,0,0,0,0,0,0,0,1,3

In [24]:
nD.shape

(142437, 53)

In [25]:
nD.columns

Index(['CASEID', 'EDUC', 'MARSTAT', 'SERVICES', 'DETCRIM', 'NOPRIOR',
       'PSOURCE', 'ARRESTS', 'EMPLOY', 'METHUSE', 'PSYPROB', 'PREG', 'GENDER',
       'VET', 'LIVARAG', 'DSMCRIT', 'AGE', 'RACE', 'ETHNIC', 'DETNLF',
       'PRIMINC', 'ROUTE1', 'ROUTE2', 'ROUTE3', 'FREQ1', 'FREQ2', 'FREQ3',
       'FRSTUSE1', 'FRSTUSE2', 'FRSTUSE3', 'HLTHINS', 'PRIMPAY',
       'FREQ_ATND_SELF_HELP', 'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG',
       'METHFLG', 'OPSYNFLG', 'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG',
       'STIMFLG', 'BENZFLG', 'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG',
       'OTCFLG', 'OTHERFLG', 'IDU', 'ALCDRUG'],
      dtype='object')

In [26]:
#NEED TO ONE HOT ENCODE ALL COLUMNS EXCEPT FLG 
function onehot():

SyntaxError: invalid syntax (2322255417.py, line 2)

In [ ]:
data1.columns

In [ ]:
data1.drop(data1.columns.difference(['CASEID','REASON']), 1, inplace=True)

In [ ]:
data1.head()

In [ ]:
newData['CASEID'] = newData['CASEID'].astype("string")
data1['CASEID'] = data1['CASEID'].astype("string")

newData['CASEID'] = newData['CASEID'].str[4:]
data1['CASEID'] = data1['CASEID'].str[4:]

In [ ]:
finalData = pd.merge(newData, data1, on="CASEID")

In [ ]:
finalData.head()

In [ ]:
finalData.shape